docx==0.2.4
docx2pdf==0.1.8
Flask
pandas
pdf2image==1.16.3
pdfkit==1.0.0
pdfplumber==0.9.0
Pillow
python-dotenv
pyOpenSSL==23.1.1
SpeechRecognition
fpdf
pydub
Flask-SQLAlchemy
python-magic-bin==0.4.14
python_magic==0.4.27