
#logoicons i:nth-child(1) {
    animation-name: icon-left;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: inline-block !important;
}

@keyframes icon-left {
    from {
        bottom: 0;
        left: 0;
        top: 0;
    }
    15% {
        bottom: 0;
        left: 0;
        top: 0;
    }
    25% {
        bottom: 0.7em;
        left: 1.2em;
        top: 0;
    }
    40% {
        bottom: 0.7em;
        left: 1.2em;
        top: 0;
    }
    50% {
        bottom: 0;
        left: 2.4em;
        top: 0;
    }
    65% {
        bottom: 0;
        left: 2.4em;
        top: 0;
    }
    75% {
        bottom: 0;
        left: 1.2em;
        top: 0.7em;
    }
    90% {
        bottom: 0;
        left: 1.2em;
        top: 0.7em;
    }
    to {
        bottom: 0;
        left: 0;
        top: 0;
    }
}