{% extends 'base.html' %} {% block head_additions %}
<script type="application/javascript" src="/static/upload.js" defer></script>
{% endblock %} {% block content %}
<div class="h-100 d-flex align-items-center position-relative px-4" id="uploadContainer">
    <div class="mx-auto py-5">
        <form method="POST" enctype="multipart/form-data" action="/upload">
            <label for="formFile" class="form-label h3 mt-4 mb-2">Select a data file to analyse</label>
            <div class="my-3">
                <input class="form-control" type="file" name="formFile" id="formFile" multiple required/>

                <select name="fileType">
                    <option value="docx">.docx</option>
                    <option value="pdf">.pdf</option>
                    <option value="txt">.txt</option>
                </select>
                <div id="detectedFileFormat" class="x-form-instructions text-black my-3 d-none">
                    Detected File Format : <span id="fileFormatLabel"></span>
                    <input type="hidden" id="fileTypeHint" name="fileTypeHint" value="" />
                </div>
                <select name="targettype">
                    <option value="docx">.docx</option>
                    <option value="pdf">.pdf</option>
                    <option value="txt">.txt</option>
                </select>
                <ul class="my-2 list-unstyled text-muted formInstructions">
                    <strong> Note : </strong>
                    <div class="mx-3">
                        <li>One file of size upto 200MB is allowed. You can use the file input to browse, or drag and drop a file here.</li>
                        <li>Files in ... formats can be parsed. Please refer to the user guide for details.</li>
                    </div>
                </ul>
            </div>
            <div class="row my-4">
                <div class="col-4">
                    <!--empty-->
                </div>
                <button type="submit" id="submitBtn" class="col-4 btn btn-secondary">Upload</button>
                <div class="col-4">
                    <!--empty-->
                </div>
            </div>
        </form>
    </div>
    <div id="dragDropDisplay" class="w-100 h-100 mx-0 my-0 position-absolute d-flex align-items-center d-none">
        <div class="mx-auto">
            <span class="display-1 text-white"><i class="bi bi-upload"></i></span>
        </div>
    </div>
</div>
{% endblock %}