{% extends 'base.html' %} {% block head_additions %}
<script type="application/javascript" src="/static/upload.js" defer></script>
{% endblock %} {% block content %}
<div class="h-100 d-flex align-items-center position-relative px-4" id="uploadContainer">
    <div class="container-fluid py-5">
        <form method="POST" enctype="multipart/form-data" action="/upload" class="container-lg">
            <div class="my-3 pb-6 align-items-center">
                <div class="row">
                    <div class="col text-center">
                        <label id="formFile" class="btn btn-lg btn-primary">
                            <input type="file" name="formFile" class="d-none" multiple required/>
                            Select from Computer &nbsp; <i class="bi bi-cloud-upload"></i>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <span class="form-label h5 mt-4 mb-2 d-block text-primary"> or drag and drop here!</span>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <table class="table w-100" id="uploadedFiles">
                    <tr id="templateRow" class="">
                        <td>Filename</td>
                        <td>
                            <div class="btn-group">
                                <span class="btn btn-warning"><i class="bi bi-filetype-jpg"></i></span>
                                <span class="btn btn-warning"><i class="bi bi-arrow-right"></i></span>
                                <span class="btn btn-warning">
                                    <select name="targetFileType" class="custom-select fixed-input">
                                        <option value="docx">.docx</option>
                                        <option value="pdf">.pdf</option>
                                        <option value="txt">.txt</option>
                                    </select>
                                </span>
                            </div>
                        </td>
                        <td><span class="btn btn-danger"><i class="bi bi-trash3-fill"></i></span></td>
                    </tr>
                    <tr class="">
                        <td>Filename</td>
                        <td>
                            <div class="btn-group">
                                <span class="btn btn-warning"><i class="bi bi-filetype-jpg"></i></span>
                                <span class="btn btn-warning"><i class="bi bi-arrow-right"></i></span>
                                <span class="btn btn-warning">
                                    <select name="targetFileType" class="custom-select fixed-input">
                                        <option value="docx">.docx</option>
                                        <option value="pdf">.pdf</option>
                                        <option value="txt">.txt</option>
                                    </select>
                                </span>
                            </div>
                        </td>
                        <td><span class="btn btn-danger"><i class="bi bi-trash3-fill"></i></span></td>
                    </tr>
                    <tr class="">
                        <td>Filename</td>
                        <td>
                            <div class="btn-group">
                                <span class="btn btn-warning"><i class="bi bi-filetype-jpg"></i></span>
                                <span class="btn btn-warning"><i class="bi bi-arrow-right"></i></span>
                                <span class="btn btn-warning">
                                    <select name="targetFileType" class="custom-select fixed-input">
                                        <option value="docx">.docx</option>
                                        <option value="pdf">.pdf</option>
                                        <option value="txt">.txt</option>
                                    </select>
                                </span>
                            </div>
                        </td>
                        <td><span class="btn btn-danger"><i class="bi bi-trash3-fill"></i></span></td>
                    </tr>
                </table>
            </div>
            <div class="row my-4">
                <div class="col-4">
                    <!--empty-->
                </div>
                <button type="submit" id="submitBtn" class="col-4 btn btn-secondary">Upload</button>
                <div class="col-4">
                    <!--empty-->
                </div>
            </div>
        </form>
    </div>
    <div id="dragDropDisplay" class="w-100 h-100 mx-0 my-0 position-absolute d-flex align-items-center d-none">
        <div class="mx-auto">
            <span class="display-1 text-white"><i class="bi bi-cloud-upload-fill"></i></span>
        </div>
    </div>
</div>
{% endblock %}